.bg-main-green{
    background-color: #2AB866;
}

.main-green{
    color: #2AB866;
}

.bg-middle-green{
    background-color: #BEE8CF;
}

.middle-green{
    color: #BEE8CF;
}

.bg-lower-green{
    background-color: #E9F7EF;
}

.lower-green{
    color: #E9F7EF;
}

.bg-main-blue{
    background-color: #3598DB;
}

.main-blue{
    color: #3598DB;
}

.bg-middle-blue{
    background-color: #C2E0F4;
}

.middle-blue{
    color: #C2E0F4;
}

.bg-lower-blue{
    background-color: #EBF5FB;
}

.lower-blue{
    color: #EBF5FB;
}

.bg-main-dark{
    background-color: #34495E;
}

.main-dark{
    color: #34495E;
}

.bg-middle-dark{
    background-color: #C2C8CF;
}

.middle-dark{
    color: #C2C8CF;
}

.bg-lower-dark{
    background-color: #EBEDEF;
}

.lower-dark{
    color: #EBEDEF;
}

.bg-main-red{
    background-color: #E84C3D;
}

.main-red{
    color: #E84C3D;
}

.bg-middle-red{
    background-color: #F3A59E;
}

.middle-red{
    color: #F3A59E;
}

.bg-lower-red{
    background-color: #FDEDEC;
}

.lower-red{
    color: #FDEDEC;
}

.bg-main-yellow{
    background-color: #F1C40F;
}

.main-yellow{
    color: #F1C40F;
}

.bg-middle-yellow{
    background-color: #F8E187;
}

.middle-yellow{
    color: #F8E187;
}

.bg-lower-yellow{
    background-color: #FEF9E7;
}

.lower-yellow{
    color: #FEF9E7;
}

.bg-main-purple{
    background-color: #9A59B5;
}

.main-purple{
    color: #9A59B5;
}

.bg-middle-purple{
    background-color: #CCACDA;
}

.middle-purple{
    color: #CCACDA;
}

.bg-lower-purple{
    background-color: #F5EEF8;
}

.lower-purple{
    color: #F5EEF8;
}

.text-white{
    color: #FFFFFF;
}

.text-main{
    color: #292929;
}

.text-middle{
    color: #656766;
}

.text-lower{
    color: #DBDBDB;
}